/*
html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
}

p, li {
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

*/
/*
p {
	width: 500px;
	border: 1px solid black;
}

.title {
	color: green;
}

.important {
	color: red;
}

#main_title {
	color: blue;
}

a {
	color: yellow;
}

a:hover {
	color: brown;
}
*/

html {
	background-color: #00539F;
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 10px #505050;
}
img {
	display: block;
	margin: 0 auto;
}